body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .main-header {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    font-weight: bold;
  }
  
  .timer {
    position: absolute;
    top: 0;
    margin-top: 140px;
    font-size: 20px;
  }
  
  .guesses-remaining {
    position: absolute;
    top: 0;
    margin-top: 200px;
    font-size: 20px;
  }
  
  .word-in-progress {
    position: absolute;
    top: 0;
    margin-top: 290px;
    font-size: 30px;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
    font-size: 20px;
  }
  
  .user-input {
    margin-right: 10px;
    height: 30px;
    width: 240px;
  }
  
  /* 
  .guess-button {
    height: 30px;
    width: 80px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
  }
  
  .guess-button:hover {
    background-color: #8a8d90;
  }
  */
  
  .new-game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  
  .new-game-button {
    background-color: #007bff;
    color: white;
    font-size: 18px;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .new-game-button:hover {
    background-color: #0056b3;
  }
  
  .guesses {
    color: green;
    position: absolute;
    top: 0;
    margin-top: 550px;
    font-size: 18px;
  }
  
  .incorr-guesses {
    color: red;
    position: absolute;
    top: 0;
    margin-top: 580px;
    font-size: 18px;
  }
